$darkcode: (
        content-code-color: $gray-50,
        content-code-in-pre-color: #fcfcfa,
        content-code-background-color: #53585f,
        content-pre-color: #eee,
        content-pre-number-color: #666,
        content-pre-background-color: #3b3b3b,
        content-pre-header-background-color: #262838,
        content-pre-header-color: #FCFCFA,
        tab-background-color: #4D5055,
        tab-inactive-color: #dadbe3,
        tab-active-color: $gray-50,
);
