$dark: (
        link: $dark-link-color,
        link-hover: $dark-link-hover-color,
        body-color: #FCFCFA,
        body-color-ligher: $gray-400,
        hr-color: #53585f,
        title-color: #FCFCFA,
        subtitle-color: darken(#FCFCFA, 5%),
        border-line-color: rgba(243, 242, 241, 0.1),
        active-font-color: $dark-active-font-color,
        body-background-color: #262626,
        body-background-color-alternate: #161616,
        back-background-color: #212121,
        navbar-background-color: #403E41,
        navbar-hover-background-color: rgba(225, 225, 225, 0.4),
        navbar-logo-color: $dark-nav-logo-color,
        navbar-menu-color: $dark-nav-menu-color,
        navbar-icon-color: $dark-nav-icon-color,
        search-color: $search-color,
        search-border-active-color: #424242,
        search-border-outline-color: rgba(166, 166, 166, 0.45),
        search-background-color: lighten(#403E41, 5%),
        search-placeholder-color: #999,
        search-content-background-color: lighten(#403E41, 5%),
        search-hover-background-color: #403E41,
        search-hover-border-color: #403E41,
        search-border-color: #383838,
        search-highlight-color: #FF6188,
        search-results-background-color:  #1c1c1c,
        search-results-border: 1px solid #d9d9d9,
        custom-scrollbar-foreground-color: #888,
        custom-scrollbar-background-color: #eee,
        dropdown-hover-background-color: #727072,
        dropdown-background-color: #595B5C,
        dropdown-item-active-background-color: #424242,
        menu-background-color: #1c1c1c,
        menu-label-color: #88909B,
        menu-separator-color: #DADBE3,
        menu-arrow-color: #FCFCFA,
        menu-item-color: $gray-50,
        menu-item-active-color: $red,

        pagination-color: $gray-350,
        toc-color: $gray-50,
        toc-border: $gray-500,
        banner-background-color: darken(#212121, 3%),
        landing-button-primary: $dark-active-font-color,
        landing-button-default: #ccc,
        pagination-link-color: #82aaff,
        pagination-disabled-color: #757575,
        pagination-number-color: #FCFCFA,
        breadcrumb-background-color: #2D2A2E,
        single-hr-background-color: #727072,
        single-blockquote-border-color: #FCFCFA,
        single-contents-title-color: #FCFCFA,
        single-header-title-background-color: #212121,
        single-contents-subtitle-color: #FCFCFA,
        expand-background-color: darken(#2D2A2E, 2%),
        expand-background-color-hover: #212121,
        tag-num-background-color: #595B5C,
        tag-text-background-color: #595B5C,
        content-box-border-color: #616161,
        content-box-background-color: #403E41,

        table-background-color: #3b3b3b,
        table-border-color: #53585f,

        card-background-color: #53585f,
        card-header-background-color: #53585f,
        card-box-shadow: 0 8px 16px 0 rgba(208, 206, 206, 0.06),
        card-active-background-color: $gray-700,

        alert-tip-color: #FCFCFA,
        alert-tip-background-color: rgba(218, 219, 227, 0.4),
        alert-info-color: #FCFCFA,
        alert-info-background-color: rgba(255, 244, 223, 0.4),
        alert-warn-color: #FCFCFA,
        alert-warn-background-color: rgba(255, 223, 237, 0.4),
        alert-support-color: #FCFCFA,
        alert-support-background-color: rgba(214, 218, 236, 0.4),

        expansion-border-color: $gray-300,

        popup-background: #262626,
);
