$light: (
        link: $light-link-color,
        link-hover: $light-link-hover-color,
        body-color: $gray-800,
        body-color-ligher: $gray-550,
        hr-color: #D9DBE9,
        title-color: #424242,
        subtitle-color: darken(#424242, 5%),
        border-line-color: rgba(12, 13, 14, 0.1),
        active-font-color: $light-active-font-color,
        body-background-color: #fff,
        body-background-color-alternate: #f7f7f7,
        back-background-color: #f7f8f9,
        navbar-background-color: #fafafa,
        navbar-hover-background-color: rgba(225, 225, 225, 0.4),
        navbar-logo-color: $light-nav-logo-color,
        navbar-menu-color: $light-nav-menu-color,
        navbar-icon-color: $light-nav-icon-color,
        search-color: $search-color,
        search-border-outline-color: rgba(207, 216, 220, 0.6),
        search-border-active-color: #b0bec5,
        search-background-color: #fff,
        search-placeholder-color: #aaa,
        search-content-background-color: #f1f1f1,
        search-hover-background-color: #eaeaea,
        search-hover-border-color: #addafc,
        search-border-color: #e0e0e0,
        search-highlight-color: #FF6188,
        custom-scrollbar-foreground-color: #cfd8dc,
        custom-scrollbar-background-color: #FCFCFA,
        dropdown-hover-background-color: rgba(225, 225, 225, 0.4),
        dropdown-background-color: #fff,
        dropdown-item-active-background-color: #e0e0e0,
        menu-background-color: #F1F2F4,
        menu-label-color: #88909B,
        menu-separator-color: #DADBE3,
        menu-arrow-color: #010101,
        menu-item-color: $gray-900,
        menu-item-active-color: $red,

        pagination-color: $gray-750,
        toc-color: $gray-900,
        toc-border: #DADBE3,
        banner-background-color: #eee,
        landing-button-primary: $light-active-font-color,
        landing-button-default: #535a61,
        pagination-link-color: #424242,
        pagination-background-color: #eee,
        pagination-disabled-color: #bdbdbd,
        pagination-number-color: #757575,
        breadcrumb-background-color: #fff,
        single-hr-background-color: #bdbdbd,
        single-blockquote-border-color: #bdbdbd,
        single-header-title-background-color: #eee,
        single-contents-title-color: lighten(#424242, 4%),
        expand-background-color: #f7f8f9,
        expand-background-color-hover: darken(#f7f8f9, 3%),
        tag-num-background-color: #bdbdbd,
        tag-text-background-color: #eee,
        content-box-border-color: #aaa,
        content-box-background-color: #eeeeee,

        table-background-color: #f1f2f4,
        table-border-color: #d9dbe9,

        card-background-color: #D9DBE9,
        card-header-background-color: #D9DBE9,
        card-box-shadow: 0 8px 16px 0 rgba(17, 17, 17, 0.06),
        card-active-background-color: $gray-100,

        alert-tip-color: #262626,
        alert-tip-background-color: #dadbe3,
        alert-info-color: #6d4e12,
        alert-info-background-color: #fff4df,
        alert-warn-color: #a01418,
        alert-warn-background-color: #ffdfed,
        alert-support-color: #F4F6F8,
        alert-support-background-color: #5a6270,

        expansion-border-color: $gray-600,

        popup-background: $gray-50,
);
