$lightcode: (
        content-code-color: #1D2343,
        content-code-in-pre-color: #1D2343,
        content-code-background-color: #E7E7E7,
        content-pre-color: #eee,
        content-pre-number-color: #666,
        content-pre-background-color: #262626,
        content-pre-header-background-color: #262838,
        content-pre-header-color: #FCFCFA,
        tab-background-color: #EAEAEA,
        tab-inactive-color: #53585f,
        tab-active-color: $gray-50,
);
